/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    color: #333333;
}

a{
    text-decoration: none;
    color: orangered;
}